
body {
  text-align: center;
  font-family: "Montserrat";
}

h1 {
  color: #ff7070;
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 5.625rem;
  line-height: 1.5;
}

h2 {
  color: #dc5151;
  padding-bottom: 10px;
  line-height: 1.5;
}

h3 {
  font-family: 'Montserrat-bold';
  color: #11999E;
  line-height: 1.5;
}

p {
  font-family: 'Merriweather', serif;
  color: #8f8f8f;
  line-height: 2;
}

hr {
  border-color: #fbc687;
  border-style: dotted none none;
  width: 8%;
  border-width: 10px;
  margin: 100px auto;
}

.container-fluid {
  padding: 2% 10%;
}

.dp {
  width: 200px;
  margin: 20px;
  margin-top: 100px
}

.sub-title {
  color: #119ba8;
}

.Bio {
  width: 50%;
  margin: auto;
}

.logo {
  width: 100px;
}

.brand{
  width: 100px;
}

.title {
  padding: 3%;
  margin-bottom: 100px;
  color: #78cbbc;
}

.title, .top-container {
  background-color: #fef2bf;
}

.navbar {
  padding-bottom: 4rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: bold;
  color: #809b9e !important;
}

.nav-link:hover {color: #1b97f3 !important;}

.skills {
  padding: 0 15%;
  line-height: 2;
}

.row {
  margin: 100px auto 100px auto;
}

.logo {
  transition: all .5s;
  margin-bottom: 1rem;
}

.logo:hover {
  transform: scale(1.2) rotate(5deg);
}

.bottom-container {
  background-color: #fef2bf;
  padding: 50px 0 20px;
}

.copyright {
  color: #11999E;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bt {
  color: #fff !important;
}

.button {
  margin: 30px;
  margin-bottom: 100px;
  background-color: #dc5151;
}

.button:hover {
  background-color: #ff7070;
}

.social {
  color: #fbceaa !important;
  margin: 10px 20px;
}

.social:hover {
  color: #ff7088 !important;
}

.copyright {
  color: #11999E;
  font-size: 0.75rem;
  padding-top: 30px;
}

a:hover{ text-decoration: none }
a:hover .btn { text-decoration: none }
.btn:hover { text-decoration: none }

/* work page */

.portofolio {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.mainsite-img, .project1-img, .wordpress-img {
  width: 100%;
  clear: left;
  margin-right: 30px;
}

.sub {
  margin-top: 120px;
}

.sub-2 {
  width: 50%;
  margin: auto;
}

.proj {
  padding: 10px 0
}
