html {
  scroll-behavior: smooth;
}

h3 img {
  width: 30px;
  margin-left: 10px;
  pointer-events: none;
}

a {
  text-decoration: none !important;
}

.pt {
  cursor: pointer;
}

i {
  color: #eeeeee;
  margin-top: 20px;
  transition-duration: 0.4s;
  font-size: 50px !important;
}

p a {
  text-decoration: none !important;
}

::selection {
  color: #eeeeee;
  background: #1D7097;
}

::-moz-selection {
  color: #eeeeee;
  background: #1D7097;
}

.navbar-brand {
  font-size: 20px !important;
  text-transform: uppercase;
}

ul li a {
  font-weight: bold;
}

i:hover {
  opacity: 0.5;
}

.work h4 {
  margin: 150px;
}

.card-body {
  background-color: #060606;
}

.profile {
  width: 40%;
  margin: 100px auto;
}

.profile-img {
  width: 150px;
  pointer-events: none;
}

.skills img {
  width: 100px;
}

.mt-100px {
  margin-top: 100px;
}

.p-10px {
  padding: 10px;
}

.text-white {
  color: #ffffff;
}

.middle-container p {
  font-size: 20px;
}

.html-img {
  margin-right: 20px;
  float: left;
}

.css-img {
  margin-left: 20px;
  float: right;
}

.javascript-img {
  margin-right: 20px;
  float: left;
}

.skill-row {
  width: 70%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 50%;
  margin: 100px auto;
}

.contact-me p {
  margin-bottom: 60px;
}

.dark-bg {
  background-color: #222831;
}

.bottom-container {
  padding: 50px;
}

.bottom-container h2 {
  font-size: 56px;
  margin: 0;
}

.button {
  color: #eeeeee;
  background-color: #1D7097;
  border-radius: 5px;
  padding: 15px 32px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: Transparent;
  border: 2px solid #1D7097;
  color: #eeeeee;
  text-decoration: none;
}

.footer-link {
  margin: 5px;
}

.copyright {
  font-size: 15px !important;
  margin-top: 30px;
}

@media (max-width: 992px) {

  h2 {
    font-size: 25px;
  }

  i {
    font-size: 40px !important;
  }

  .profile-img {
    width: 100px;
  }

  .profile {
    width: 60%;
  }

  .skill-row {
    width: 80%;
  }

  .contact-me {
    width: 80%;
  }

  .contact-me p {
    margin-bottom: 60px;
  }

  .bottom-container {
    padding: 10px;
  }

  .middle-container p {
    font-size: 18px;
  }

  .bottom-container h2 {
    font-size: 40px;
    margin-top: 20px;
  }

  .button {
    padding: 10px 20px;
  }
  
  .s-m > h2 {
    font-size: 30px;
  }
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: -25px;
  z-index: 99;
  background-color: Transparent;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
  opacity: 0.5;
}

#top-btn img {
  width: 35%;
  pointer-events: none;
}

#top-btn:hover {
  opacity: 1;
}


/* Loading code, copied from someone */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1001;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(0deg);
      /* IE 9 */
      transform: rotate(0deg);
      /* Firefox 16+, IE 10+, Opera */
  }
  100% {
      -webkit-transform: rotate(360deg);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: rotate(360deg);
      /* IE 9 */
      transform: rotate(360deg);
      /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #060606;
  z-index: 1000;
  -webkit-transform: translateY(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(0);
  /* IE 9 */
  transform: translateY(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-top {
  top: 0;
}

#loader-wrapper .loader-section.section-bottom {
  bottom: 0;
}


