body {
  font-family: 'Open Sans', arial, sans-serif;
  color: #494d55;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin-bottom: 15px;
  line-height: 1.5;
}

a:active {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

.animate {
  transform: scale(1.05);
}

.fs-20px {
  font-size: 20px !important;
}

.fs-40px {
  font-size: 40px;
}

.underline {
  border-bottom: 5px solid;
  padding-bottom: 10px;
  width: 20%;
  margin: auto;
  color: #2a9fd6;
}

.badge-bg {
  background-color: #2a9fd6;
}

.active {
  border-bottom: 3px solid;
  border-color: #2a9fd6;
}

.profile {
  width: 40%;
  margin: 100px auto;
}

.profile-img {
  width: 150px;
  pointer-events: none;
}

.button {
  color: #eeeeee;
  background-color: #1d7097;
  border-radius: 5px;
  padding: 15px 32px;
  font-weight: bold;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: Transparent;
  border: 2px solid #1d7097;
  color: #eeeeee;
  text-decoration: none;
}

.social {
  color: #eeeeee;
  transition-duration: 0.4s;
  font-size: 30px !important;
  padding-left: 5px;
}

.social:hover {
  opacity: 0.5;
}

.black-bg {
  background-color: #060606 !important;
}

.dark-bg {
  background-color: #222831 !important;
}

.contact-section {
  width: 50%;
  margin: 50px auto;
  color: #fff;
}

.contact-section p {
  margin-bottom: 60px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  height: 60px;
  transition: all 0.3s ease-in-out;
}

.header.header-scrolled {
  background: #222831;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header.header-scrolled .logo {
  transition: all 0.3s ease-in-out;
  padding-top: 12px;
}

.header.header-scrolled .logo .logo-icon {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.header a {
  color: #fff;
}

.header a:hover {
  text-decoration: none;
}

.header .logo {
  margin: 0;
  display: inline-block;
  font-size: 28px;
  padding-top: 15px;
}

.header .logo .logo-icon-wrapper {
  margin-right: 3px;
  position: relative;
  display: inline-block;
  top: -3px;
}

.header .logo .logo-icon {
  width: 30px;
  height: 30px;
}

.header .logo .highlight {
  font-weight: 800;
}

.main-nav {
  margin-top: 6px;
}

.main-nav .navbar-toggler {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  padding: 8px 10px;
  right: 10px;
  top: 10px;
  background: rgba(0, 0, 0, 0.6);
}

.main-nav .navbar-toggler:focus {
  outline: none;
}

.main-nav .navbar-toggler .icon-bar {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 22px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.main-nav .navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.main-nav .navbar-toggler:hover .icon-bar {
  background-color: #fff;
}

.main-nav .nav .nav-item {
  font-weight: normal;
  font-size: 14px;
  margin-right: 10px;
}

.main-nav .nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.65);
  font-weight: 700;
}

.main-nav .nav .nav-item .nav-link.active {
  position: relative;
  background: none;
  color: #fff;
}

.main-nav .nav .nav-item .nav-link:hover {
  color: #fff;
  background: none;
}

.main-nav .nav .nav-item .nav-link:focus {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item .nav-link:active {
  outline: none;
  background: none;
}

.main-nav .nav .nav-item:last-child {
  margin-right: 0;
}

.nav > li > a {
  padding-left: 5px;
  padding-right: 5px;
}

.nav-link {
  padding: 15px;
}

.footer {
  background: #26282c;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0;
}

#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: -25px;
  z-index: 99;
  background-color: Transparent;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition-duration: 0.4s;
  opacity: 0.5;
}

#top-btn img {
  width: 35%;
  pointer-events: none;
}

#top-btn:hover {
  opacity: 1;
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 60px;
    position: absolute;
    background: rgba(49, 52, 58, 0.9);
    z-index: 40;
  }
  .header .logo {
    font-size: 25px;
  }
  .header.header-scrolled .main-nav .nav .nav-link.active {
    color: #fff;
  }
  .main-nav .navbar-collapse .nav-item {
    margin-right: 0;
  }
  .main-nav .navbar-collapse .nav-item a {
    text-align: center;
  }
  .profile-img {
    width: 100px;
  }
  .profile {
    width: 60%;
  }
  .contact-section {
    width: 80%;
  }
  .contact-section p {
    margin-bottom: 60px;
  }
}

/* Loading code, copied from somewhere */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  z-index: 1001;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #222831;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #060606;
  z-index: 1000;
  -webkit-transform: translateY(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(0);
  /* IE 9 */
  transform: translateY(0);
  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-top {
  top: 0;
}

#loader-wrapper .loader-section.section-bottom {
  bottom: 0;
}
